.sale {
    background-color: var(--bg-color);
}


.sale .container .slide {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 235px;
}


.sale .container .slide .raight-slide {
    width: 21.2%;
}


.slide .raight-slide .card {
    height: 235px;
}

.slide .raight-slide .card h2 {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    padding: 20px;
}

.slide .raight-slide .card h2 span {
    font-size: 19px;
    color: var(--white-gray);
    font-weight: 400;
}

.slide .raight-slide .card .time-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide .raight-slide .card .time-btn button {
    display: flex;
    flex-direction: column;
    margin: 0 3px;
    width: 45px;
    height: 50px;
    border-radius: 4px;
    background-color: var(--light-dark);
    color: var(--white);
}






/* left-slide  */



.sale .container .slide .left-slide {
    width: 78%;
    display: flex;
}


.sale .container .slide .products {
    position: relative;
    background-color: var(--whites);
    border: 1px solid var(--white-border);
    width: 100%;
    height: 100%;
    text-align: center;

}


.sale .container .slide .products img {
    padding: 5px 0;
    width: 150px;
    height: 150px;
}


.sale .container .slide .products h4 {
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
    font-size: 16px;
}


.sale .container .slide .products p {
    position: absolute;
    background-color: var(--Light-red);
    color: var(--red);
    left: 50%;
    transform: translateX(-50%);
    font-size: 13px;
    width: 60px;
    height: 22px;
    border-radius: 10px;
    padding: 0;
    margin: 0;
    bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

}



@media (max-width: 992px) {
    .slide .raight-slide {
        display: none;
    }

    .sale .container .slide .left-slide {
        width: 100%;
    }
}