/* logo */

.container{
    padding: 8px 0;
    
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 86px;
}

.header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46px;
    gap: 22px;
}

.header .logo h6 {
    font-size: 21px;
    color: var(--light-blue);
}


/* search-form */


.header .search-form {
    flex: 1;
    max-width: 665px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    border: 2px solid var(--sky-blue);
}

.header .search-form .search {
    flex: 1;
    width: 421px;
    height: 40px;
    padding: 0 20px;
    border: none;
    outline: none;
}

.header .search-form select {
    flex: 1;
    width: 145px;
    height: 40px;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: 1px solid var(--sky-blue);
}

.header .search-form select:focus {
    border: none;
    outline: none;
    border-left: 1px solid var(--sky-blue);
}

.header .search-form button {
    width: 95.8px;
    flex-grow: 1;
    height: 40px;
    color: var(--white);
    background-color: var(--sky-blue);
}





/* actions */



.header .actions {
    padding-top: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header .actions .action-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 10px;
    gap: 3px;
}

.header .actions .action-item svg {
    font-size: 20px;
    color: var(--light-gray);

}

.header .actions .action-item span {
    font-size: 10px;
    color: var(--light-gray);
}







@media (max-width: 992px) {
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 12px;
        gap: 12px;
    }

    .logo h6 {
        color: var(--light-blue);
    }

    .actions {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 12px;
        gap: 20px;
        font-size: 22px;
        
    }
}