.service {
    background-color: var(--bg-color);
}


.service .container {
    display: block;
}


.service .container .title {
    margin-bottom: 20px;
}


.service .container .title h2 {
    text-align: start;
    padding-left: 65px;

}



/* server */
.service .container .server {
    display: flex;
    gap: 20px;
    justify-content: center;
}



.service .container .server .a {
    position: relative;
    width: 280px;
    height: 200px;
}


.service .container .server .a img {
    width: 100%;
    height: 120px;
}


.service .container .server .a svg {
    position: absolute;
    background-color: var(--bg-icons);
    padding: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 48%;
    right: 7%;
}


.service .container .server .a h6 {
    padding: 15px;
    background-color: var(--whites);
}


@media(max-width:992px) {
    .service {
        display: none;
    }
}