.item {
    margin: 40px 0;
}


.item .container .cardz {
    display: flex;
    width: 100%;
}


.item .container .cardz .categorybaner {
    position: relative;

}


.item .container .cardz .categorybaner h4 {
    position: absolute;
    top: 6%;
    left: 5%;
    font-size: 18px;
    width: 40%;
}


.item .container .cardz .categorybaner .btn {
    position: absolute;
    top: 30%;
    left: 5%;
    font-size: 14px;
    background-color: var(--whites);
    width: 40%;
}





/* Products */

.item .container .cardz .productminicard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
    width: 100%;
}

.item .container .cardz .productminicard .product {
    position: relative;
    height: 127px;
    border: 1px solid #e0e0e0;
    padding: 8px;
    background-color: var(--whites);
}



.item .container .cardz .productminicard .product .text h2 {
    padding: 4px;
    text-align: start;
    font-size: 16px;
}

.item .container .cardz .productminicard .product img {
    position: absolute;
    right: 8px;
    bottom: 8px;
    width: 67px;
    height: 69px;
}


.item .container .cardz .productminicard .product .text h6 {
    margin: 0;
    font-size: 12px;
    color: var(--light-gray);
    padding: 0 5px;
}

.item .container .cardz .productminicard .product .text span {
    display: block;
    font-size: 14px;
    color: var(--light-gray);
    padding: 0 5px;
}






@media (max-width: 992px) {

    .item .container .cardz .productminicard {
        display: flex;
        gap: 10px;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
    }

    .item .container .cardz .productminicard .product {
        flex: 0 0 220px;
        scroll-snap-align: start;
    }

    .item .cardz .categorybaner {
        display: none;
    }
}





