.recommend .container {
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
}


.recommend .container .title {
    margin-bottom: 20px;
}


.recommend .container .title h2 {
    text-align: start;
    padding-left: 65px;

}




/* products */
.recommend .container .products {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;

}


.recommend .container .products .product {
    background-color: var(--whites);
    width: 220px;
    height: 310px;
    border: 1px solid var(--white-border);
}


.recommend .container .products .product img {
    width: 70%;
    height: 55%;
    display: block;
    margin: auto;
    padding-top: 12px;
}


.recommend .container .products .product h5 {
    padding: 30px 0 0 15px;
    font-size: 16px;
}


.recommend .container .products .product h4 {
    padding: 0 15px;
    font-size: 18px;
    color: var(--light-gray);
    font-weight: 400;
}



@media(max-width:475px) {
    .recommend .container .products .product {
        width: 165px;
        height: 240px;
    }
}